* {
    margin: 0;
    padding: 0;
}

.explore-landing {
    background-image: url('../image/exploremain.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.navigation {
    display: flex;
    justify-content: space-between;
    font-family: var(--font1);
    align-items: center;
    padding-top: 20px;
}

.nav-left {
    font-size: 28px;
    display: flex;
}

.nav-left span a {
    text-decoration: none;
    color: #111;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right ul {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 0 43px;
}

.nav-right ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-right ul li a {
    text-decoration: none;
    color: #fff;
}

.btn-explorepage{
    color: #fff;
}

/* .hr-explore {
    border: 0;
    height: 0;
    border-top: 0.5px solid #fff;
} */

.explore-margin {
    width: 90%;
    margin: auto;
    margin-top: 30px;

}

.explore-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.items img {
    width: 300px;
    height: 180px;
}


.items{
    text-align: center;
    font-family: var(--font3);
    position: relative;

}

.items h1{
    font-size: 1.2rem;
    margin:10px;
}

.items h3{
    font-size: 1rem;
    margin: 10px;
    font-weight: lighter;
    font-family: var(--font2);
}

.grid-title-line{
    margin: auto;
    margin-bottom: 10px;
    width:30%;
    
}



@media (max-width:1030px) {
    .explore-nav{
        position: relative;
    }
    
    .btn-explore{
        position: absolute;
        top: 40%;
        right: 3%;
    }

    
}




  /* explore grid css */
  @media (max-width:1200px) {
    .explore-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}
@media (max-width:750px) {
    .explore-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}