* {
  margin: 0;
  padding: 0;
}

.explore-landing {
  background-image: url("../image/exploremain.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-family: var(--font1);
  align-items: center;
  padding-top: 20px;
}

.nav-left {
  font-size: 32px;
  display: flex;
}

.nav-left span a {
  text-decoration: none;
  color: #111;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right ul {
  display: flex;
  font-size: 16px;
  align-items: center;
  margin: 0 43px;
}

.nav-right ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font3);
}

.nav-right ul li a {
  text-decoration: none;
  color: #fff;
}

.explore-margin {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.explore-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.items img {
  width: 300px;
  height: 180px;
}

.items {
  text-align: center;
  font-family: var(--font3);
  position: relative;
}

.items h1 {
  font-size: 1.2rem;
  margin: 10px;
}

.items h3 {
  font-size: 1rem;
  margin: 10px;
  font-weight: lighter;
  font-family: var(--font2);
}

.grid-title-line {
  margin: auto;
  margin-bottom: 10px;
  width: 30%;
}

.introcontent {
  text-align: center;
  padding: 18px;
  font-family: var(--font4);
}
.introcontent h3 {
  font-size: 30px;
  margin: 15px;
  color: #30475e;
}
.introcontent p {
  font-weight: lighter;
  font-size: 15px;
  margin: 18px;
  color: #222831;
}
@media (max-width: 1030px) {
  .explore-nav {
    position: relative;
  }
}

/* explore grid css */
@media (max-width: 1200px) {
  .explore-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
@media (max-width: 750px) {
  .explore-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}
