* {
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    margin-top: 30px !important;
    /* height:50px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 28px;
    display: flex;
}

.nav-left span a {
    text-decoration: none;
    color: black;
}

.nav-left ul {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 0 43px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    font-weight: bolder;
    color: var(--main-bg-color);
}

.nav-right .form-input {
    border: 1px solid black;
    height: 30px;
    width: 200px;
}

.nav-right button {
    border: 1px solid black;
    height: 25px;
    width: 80px;
  
}

.content {
    height: 100%;
    display: flex;
    margin-top: 32px !important;
    position: relative;
}

.content::after {
    content: "";
    background-image: url('../image/bgcontent.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    background-position: center;
    border-radius: 15px;
}

.content-left {
    font-family: var(--font2);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.content-left h2 {
    margin-bottom: 15px;
}

.content-left p {
    margin-right: 30px;
    line-height: 2;
}

.content-right {
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
}

.content-right img {
    height: 200px;
    /* border: 2px solid black; */
    border-radius: 200px;
}

.home-news {
  
    padding-top: 20px;
}

.news {
    display: flex;
    margin: 30px 0;
    background: #fff;
    padding: 21px 12px;
    
  
}

.news img {
    width: 300px;
    border-radius: 2px;
}

.news-content {
  
    padding: 0px 36px;
}

.news-content a {
    text-decoration: none;
    color: black;
}

.news-content .writer-name{
    font-family: var(--font2);
    font-size: 11px;
}

.news-content span {
    color: grey;
    font-size: 11px;
}

.news-content p{
    padding: 24px 0;
    line-height: 1.6;

}

.footer {
    height: 40px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(82, 77, 77, 0.3);
}