* {
    margin: 0;
    padding: 0;

}

/* nav section */
.main-banner {
    background-image: url('../image/bgcontent.jpg');
    background-position: center;
    background-size: cover;
    height:80vh;

}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 14, 14, 0.26);
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-family: var(--font3);
    
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
   text-decoration: underline;
}

.btn-explore{
    position: absolute;
    right: 8%;
    top: 30%;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}











.banner-text h3{
    color: #fff;
    font-family: var(--font3);
    font-weight: normal;
    font-size: 36px ;
    position: absolute;
    top: 450px;
    left: 60px;
 
   
}


.mobile-downarrow{
    color:#fff;
    position: absolute;
    top: 74%;
    left: 50%;

}




















/* latest news section */
.home-news {
  
    padding-top: 20px;
}

.news {
    display: flex;
    margin: 30px 0;
    background: #fff;
    padding: 21px 12px;
    
  
}

.news img {
    width: 300px;
    border-radius: 2px;
}

.news-content {
  
    padding: 0px 36px;
}

.news-content a {
    text-decoration: none;
    color: black;
}

.news-content .writer-name{
    font-family: var(--font2);
    font-size: 11px;
}

.news-content span {
    color: grey;
    font-size: 11px;
}

.news-content p{
    padding: 24px 0;
    line-height: 1.6;

}

.footer {
    height: 40px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(82, 77, 77, 0.3);
}